{% extends 'base.html' %}

{% block title %} 平均血圧計算 {% endblock %}

{% block main %}
<div class="container">
    <h3>平均血圧</h3>
    <br>
    <form method="post">    
	{% csrf_token %}
		<div class="mb-3">
	      	<label for="id_systolic_bp" class="form-label">「収縮期血圧」を入力してください（スペースで区切ってください）:</label>
	       	<input type="text" class="form-control" id="id_systolic_bp" name="systolic_bp" required>
	   	</div>
	   	
	   	<div class="mb-3">
	      	<label for="id_diastolic_bp" class="form-label">「拡張期血圧」を入力してください（スペースで区切ってください）:</label>
	       	<input type="text" class="form-control" id="id_diastolic_bp" name="diastolic_bp" required>
	   	</div>
	   	
	    <button type="submit" class="btn btn-outline-primary">計算</button>
	</form>
    {% if mean_bp %}
    <div class="mt-3">
        <p>平均血圧: {{ mean_bp }}</p>
        <p>収縮期血圧の最大値: {{ max_systolic_bp }}</p>
        <p>拡張期血圧の最小値: {{ min_diastolic_bp }}</p>
    </div>
    {% endif %}
    
    <br><br>
    <a href="{% url 'calculate:home' %}">戻る</a>
</div>
{% endblock %}